{% extends 'shop_base.html' %}

{% block title %}
{{ product.shop.name }} - {{ product.name }}
{% endblock title %}

{% block shoplink %}
    <a href="{% url 'shop_detail' product.shop.name %}"><h1 class="page-title text-center text-white">{{ product.shop.name }}</h1></a>
{% endblock shoplink %}

{% block body %}
{% load static %}

            <div class="container">
                <div class="product-single-container product-single-default mt-2">
                    <div class="cart-message d-none">
                        <strong class="single-cart-notice">“{{ product.name }}”</strong>
                        <span>has been added to your cart.</span>
                    </div>

                    <div class="row">
                        <div class="col-lg-5 col-md-6 product-single-gallery">
                            <div class="product-slider-container">
                                <div class="label-group">
                                    <div class="product-label label-hot">{{ product.tag }}</div>
                                </div>
                                <div class="product-single-carousel owl-carousel owl-theme show-nav-hover">
                                    <div class="product-item">
                                        <img class="product-single-image" src="{% get_static_prefix %}assets/images/products/image1.jpg" data-zoom-image="{% get_static_prefix %}assets/images/products/image1.jpg" width="468" height="468" alt="product" />
                                    </div>
                                    <div class="product-item">
                                        <img class="product-single-image" src="{% get_static_prefix %}assets/images/products/image2.jpg" data-zoom-image="{% get_static_prefix %}assets/images/products/image2.jpg" width="468" height="468" alt="product" />
                                    </div>
                                    <div class="product-item">
                                        <img class="product-single-image" src="{% get_static_prefix %}assets/images/products/image3.jpg" data-zoom-image="{% get_static_prefix %}assets/images/products/image3.jpg" width="468" height="468" alt="product" />
                                    </div>
                                    <div class="product-item">
                                        <img class="product-single-image" src="{% get_static_prefix %}assets/images/products/image4.jpg" data-zoom-image="{% get_static_prefix %}assets/images/products/image4.jpg" width="468" height="468" alt="product" />
                                    </div>
                                    <div class="product-item">
                                        <img class="product-single-image" src="{% get_static_prefix %}assets/images/products/image5.jpg" data-zoom-image="{% get_static_prefix %}assets/images/products/image5.jpg" width="468" height="468" alt="product" />
                                    </div>
                                </div>
                                <span class="prod-full-screen">
									<i class="icon-plus"></i>
								</span>
                            </div>

                            <div class="prod-thumbnail owl-dots">
                                <div class="owl-dot">
                                    <img src="{% get_static_prefix %}assets/images/products/image1.jpg" width="110" height="110" alt="product-thumbnail" />
                                </div>
                                <div class="owl-dot">
                                    <img src="{% get_static_prefix %}assets/images/products/image2.jpg" width="110" height="110" alt="product-thumbnail" />
                                </div>
                                <div class="owl-dot">
                                    <img src="{% get_static_prefix %}assets/images/products/image3.jpg" width="110" height="110" alt="product-thumbnail" />
                                </div>
                                <div class="owl-dot">
                                    <img src="{% get_static_prefix %}assets/images/products/image4.jpg" width="110" height="110" alt="product-thumbnail" />
                                </div>
                                <div class="owl-dot">
                                    <img src="{% get_static_prefix %}assets/images/products/image5.jpg" width="110" height="110" alt="product-thumbnail" />
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-7 col-md-6 product-single-details">
                            <h1 class="product-title">{{ product.name }}</h1>

                            <div class="ratings-container">
                                <div class="product-ratings">
                                    <span class="ratings" style="width:60%"></span>
                                    <span class="tooltiptext tooltip-top"></span>
                                </div>

                                <a href="#" class="rating-link">( 6 Reviews )</a>
                            </div>

                            <hr class="short-divider">

                            <div class="price-box">
                                <span class="old-price"></span>
                                <span class="new-price">N {{ product.price }}</span>
                            </div>

                            <div class="product-desc">
                                <p>{{ product.description }}</p>
                            </div>

                            <ul class="single-info-list">

                                <li>
                                    SKU: <strong>{{ product.id }}</strong>
                                </li>

                                <li>
                                    CATEGORY: <strong><a href="#" class="product-category">{{ product.description }}</a></strong>
                                </li>

                                <li>
                                    TAGs: <strong><a href="#" class="product-category">Tag</a></strong>
                                </li>
                            </ul>

                            <div class="product-action">
                                <div class="product-single-qty">
                                    <input class="horizontal-quantity form-control" type="text">
                                </div>

                                <a href="javascript:;" class="btn btn-dark add-cart mr-2" title="Add to Cart">Add to
									Cart</a>

                                <a href="#" class="btn btn-gray view-cart d-none">View cart</a>
                            </div>

                            <hr class="divider mb-0 mt-0">

                            <div class="product-single-share mb-3">
                                <a href="#" class="btn-icon-wish add-wishlist" title="Add to Wishlist"><i
										class="icon-wishlist-2"></i><span>Add to Wishlist</span></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product-single-tabs">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="product-tab-desc" data-toggle="tab" href="#product-desc-content" role="tab" aria-controls="product-desc-content" aria-selected="true">Description</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" id="product-tab-tags" data-toggle="tab" href="#product-tags-content" role="tab" aria-controls="product-tags-content" aria-selected="false">Additional
								Information</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" id="product-tab-reviews" data-toggle="tab" href="#product-reviews-content" role="tab" aria-controls="product-reviews-content" aria-selected="false">Reviews</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="product-desc-content" role="tabpanel" aria-labelledby="product-tab-desc">
                            <div class="product-desc-content">
                                <p>Description of product. </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="products-section pt-0">
                    <h2 class="section-title">Related Products</h2>

                    <div class="products-slider owl-carousel owl-theme dots-top dots-small">
                        {% for item in products %}
                            {% if product != item %}
                        <div class="product-default">
                            <figure>
                                <a href="{% url 'product_detail' item.id %}">
                                    <img src="{% get_static_prefix %}assets/images/products/{{ item.image }}" width="220" height="220" alt="product" />
                                </a>

                                <div class="label-group">
                                    <div class="product-label label-sale">-20%</div>
                                </div>
                            </figure>

                            <div class="product-details">
                                <div class="category-wrap">
                                    <div class="category-list">
                                        <a href="#" class="product-category">{{ item.tag }}</a>
                                    </div>
                                </div>

                                <h3 class="product-title"> <a href="{% url 'product_detail' item.id %}">{{ item.name }}</a> </h3>

                                <div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:100%"></span>
                                        <span class="tooltiptext tooltip-top"></span>
                                    </div>
                                </div>

                                <div class="price-box">
                                    <span class="old-price"></span>
                                    <span class="product-price">N{{ item.price }}</span>

                                </div>
                                <div class="product-action">
                                    <a href="#" class="btn-icon-wish" title="wishlist"><i
											class="icon-heart"></i></a>
                                    <a href="#" class="btn-icon btn-add-cart product-type-simple"><i
											class="icon-shopping-cart"></i><span>ADD TO CART</span></a>
                                    <a href="#" class="btn-quickview" title="Quick View"><i
											class="fas fa-external-link-alt"></i></a>
                                </div>
                            </div>
                        </div>
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
{% endblock body %}

{% block shopInfo %}
    <li>
        <span class="contact-info-label">Address:</span>{{ product.shop.name }}, Nigeria.
    </li>
    <li>
        <span class="contact-info-label">Phone:</span><a href="tel:">(123)
            456-7890</a>
    </li>
    <li>
        <span class="contact-info-label">Email:</span> <a href="mailto:mail@onlinemall.com">{{ product.shop.name }}@Onlinemall.com</a>
    </li>
    <li>
        <span class="contact-info-label">Working Days/Hours:</span> Mon - Sat / 9:00 AM - 8:00 PM
    </li>
{% endblock shopInfo %}

{% block shopSocials %}
    <a href="#" class="social-icon icon-instagram"></a>
    <a href="#" class="social-icon icon-twitter"></a>
    <a href="#" class="social-icon fab fa-whatsapp"></a>
{% endblock shopSocials %}